.App {
  text-align: center;
}
.cont{
border: 1px solid red;
height: 150px;


}
.Anketa_row_contact{
display: flex;
justify-content: center;

  


}


.vopros_up{
height: 400px;
border:1px solid red;
display: flex;

}
.img_vopros{
border:1px solid red;
height: 350px;
}

.img_ansver{
border:1px solid red;
height: 250px;
background:white;
}


.border1{
height: 300px;
border:1px solid red;


}

.Tabs_one{
border:1px solid red;
display: flex;

}

.panel_ul{
display: flex;
border: 3px solid black;
height: 300px;

}

.panel_li{

border: 1px solid red;
height: 50px;

}
.panel_div{
height: 150px;

}




.block-9{

display: flex;
height: 300px;
width: 100%;
border:1px solid red;

}



.recomandations{
height: 350px;
border:1px solid red;

}

.recomandations_one{
height: 350px;
border:1px solid red;
background:#eeefef;

}



.comanda_list{
border:1px solid red;
height: 300px;
}


.h3{
justify-content: center;
display: flex;

}


.state{
border:1px solid red;
height:50px;
width: 100px;
display: flex;
background:#960000;
color: white;
text-align: center;
}


.otsiv_row{
height: 300px;
border:1px solid red;
justify-content: center;
align-items: center;

}


.Anketa_row{
display: flex;
justify-content: center;
flex-wrap: wrap;
  
}
.Anketa_row select{
display: block;
border: 1px solid red;
height: 50px;

}

.Anketa_row input{
height: 50px;
display: block;

}
.Anketa_row_contact input{
height: 50px;
display: block;

} 

.Education_row{

  height: 500px;
}

.Education_row select{
display: block;
height: 50px;


}

.region select{
border: none;

}
.main{
border:1px solid red;
height: 100%;
background:url('Фон.png');
background-repeat: no-repeat;
background-position: center;
}
.block_7{
border:1px solid red;
height: 600px;
display: flex;
justify-content: center;
align-items: center;

background:url('depositphotos_4099622-stock-illustration-business.jpg');

}



.block_6{

height: 500px;

}

.block_6 h1{
margin-top: 100px;
justify-content: center;
display: flex;
border:1px solid red;

}

.block_6_one{
height: 100%;
border: 1px solid red;
}


.block_7{
border:1px solid red;
height: 500px;

}

.block_6_one{
border: 1px solid red;


}

.block_6_one_item{
border: 1px solid red;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
line-height: 10px;
height: 400px;
border: 1px solid blue;
list-style: none;

}

.block_6_one_item p{
display: flex;



}

.but_consult{
background:#960000;
color: white;
align-items: center;
font-size: 20px;

}
.block_6 a{
border: 1px solid red;
justify-content: center;
display: flex;
margin-left:  30%;

}



.block_6_one_item h4{

display: flex;
font-style: italic;

}

.block1{
height: 600px;
border: 1px solid red;
background-size:cover;
background:url('Business-team-world-map-background-1024x512.png');
display: flex;
background-repeat: no-repeat;
background-position: center;
justify-content: center;
align-items: center;
}


.block1_form{
border: 1px solid red;
height:400px;
background:white;



}

.text_form{
height: 50px;
border-radius:5px;
padding: none;
}

.text_form_input{
height: 50px;
border-radius:5px;
padding: none;
background:#960000;

}

.block_2{

height: 500px;

}
.block2_count_item{
height: 300px;
display: flex;
justify-content: center;
flex-wrap: wrap;
border: 1px solid red;


}





.block_8_row{

height: 400px;
margin-top: 50px;
}


.block_8{
height: 500px;
display: flex;
margin-top: 100px;
background:url('./b810a584192d31116751462d56cfad33.jpg');

}
.block_8_item{

height: 100%;
background:white;

border-radius: 10px;
}

.block_9_row{
border: 1px solid red;
height:400px;

}

.block_jurnal{
height:300px;
border:1px solid red;
}


.block_9_row li{
display: flex;
height: 20px;

}

.block_9{
border: 1px solid red;
height: 700px;

}

.block_9 h1{
display: flex;
justify-content: center;


}


.block_3{

border: 1px solid red;
height: 200px;

}



.block_3_item{
height: 150px;
border: 1px solid red;
display: flex;
justify-content: center;
flex-wrap: wrap;

color: white;
}

.block_3_item h1{
display: flex;

justify-content: center;
font-size: 50px;
font-weight: bold;

}

.block_3_item h5{
display: flex;
justify-content: center;
height: 50px;
border: 1px solid red;


}

#item_1{
background:url('Слой 41.png');
background-size: cover;
background-repeat: no-repeat;

}

#item_2{
background:url('Слой 3.png');
background-size: cover;
background-repeat: no-repeat;


}
#item_3{
background:url('tetrad.jpg');
background-size: cover;
background-repeat: no-repeat;


}



.block_3_items{
height: 100%;
justify-content: center;
display: flex;
align-items: center;
}


.block_4 h1{
border: 1px solid red;
display: flex;
justify-content: center;

}

.block_5{
background:#e9eaeb;
height: 700px;
  
}
.block_5 h1{

  display: flex;
  justify-content: center;
}

.text_glava{
height: 200px;

}



.info_form{
border: 1px solid red;
height: 300px;

}
.info_form p{
font-size: 48px;
font-weight: bold;

}

.modal_one{
margin-left: 200px;


}


.modal_one_input{
margin-left: 250px;

}


.slider {
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #fff;
}
.slider__top-heading {
  z-index: 12;
  position: absolute;
  left: 0;
  border:1px solid red;
  top: 100px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
}
.slider.s--ready .slider__top-heading {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.slider__slides {
  position: relative;
  height: 100%;
}
.slider__slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.slider__slide.s--active {
  pointer-events: auto;
}
.slider__slide-content {
  z-index: 6;
  border:1px solid red;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 100%;
  text-transform: uppercase;
  line-height: 1;
}
.slider__slide-subheading {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-subheading {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading {
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  font-size: 60px;
  letter-spacing: 12px;
}
.slider__slide-heading span {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  -webkit-transition: all 0.3333333333s;
  transition: all 0.3333333333s;
  border:1px solid red;
}
.slider__slide.s--prev .slider__slide-heading span {
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}
.slider__slide.s--active .slider__slide-heading span {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(1) {
  -webkit-transition-delay: 0.3333333333s;
          transition-delay: 0.3333333333s;
           border:1px solid red;
}
.slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(2) {
  -webkit-transition-delay: 0.4333333333s;
          transition-delay: 0.4333333333s;
}
.slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(3) {
  -webkit-transition-delay: 0.5333333333s;
          transition-delay: 0.5333333333s;
}
.slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(4) {
  -webkit-transition-delay: 0.6333333333s;
          transition-delay: 0.6333333333s;
}
.slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(5) {
  -webkit-transition-delay: 0.7333333333s;
          transition-delay: 0.7333333333s;
}
.slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(6) {
  -webkit-transition-delay: 0.8333333333s;
          transition-delay: 0.8333333333s;
}
.slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.slider__slide.s--active .slider__slide-heading span:nth-child(n+7) {
  -webkit-transition-delay: 0.9333333333s;
          transition-delay: 0.9333333333s;
}
.slider__slide-readmore {
  position: relative;
  font-size: 14px;
  text-transform: lowercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider__slide.s--active .slider__slide-readmore {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.slider__slide-readmore:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -3px;
  width: calc(100% + 4px);
  height: calc(100% + 6px);
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scaleX(0.3);
          transform: scaleX(0.3);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.slider__slide-readmore:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.slider__slide-parts {
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
}
.slider__slide-parts:after {
  content: '';
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}
.slider__slide-part {
  position: relative;
  width: 25%;
  height: 100%;
}
.slider__slide-part-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: 0 0;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}
.slider__slide-part-inner:before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-position: center center;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 0;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner {
  z-index: 3;
  -webkit-transition-delay: 0.24s;
          transition-delay: 0.24s;
  -webkit-transform: translateX(-32.5%);
          transform: translateX(-32.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  left: 0vw;
  -webkit-transition-delay: 0.365s;
          transition-delay: 0.365s;
}
.slider__slide.s--active .slider__slide-part:nth-child(1) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner {
  z-index: 2;
  -webkit-transition-delay: 0.16s;
          transition-delay: 0.16s;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  left: -25vw;
  -webkit-transition-delay: 0.285s;
          transition-delay: 0.285s;
}
.slider__slide.s--active .slider__slide-part:nth-child(2) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.36s;
          transition-delay: 0.36s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner {
  z-index: 1;
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
  -webkit-transform: translateX(-97.5%);
          transform: translateX(-97.5%);
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  left: -50vw;
  -webkit-transition-delay: 0.205s;
          transition-delay: 0.205s;
}
.slider__slide.s--active .slider__slide-part:nth-child(3) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.44s;
          transition-delay: 0.44s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner {
  z-index: 0;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  left: -75vw;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
}
.slider__slide.s--active .slider__slide-part:nth-child(4) .slider__slide-part-inner:before {
  -webkit-transition-delay: 0.52s;
          transition-delay: 0.52s;
}
.slider__slide.s--active .slider__slide-part-inner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
.slider__slide.s--active .slider__slide-part-inner:before {
  opacity: 1;
}
.slider__control {
  z-index: 100;
  position: absolute;
  left: 50px;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  -webkit-transition: all 0.5s 1s;
  transition: all 0.5s 1s;
  cursor: pointer;
}
.slider__control:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid #000;
  border-bottom: none;
  border-right: none;
  -webkit-transform: translateX(5px) rotate(-45deg);
          transform: translateX(5px) rotate(-45deg);
}
.slider__control--right {
  left: auto;
  right: 50px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.slider__control--right:before {
  -webkit-transform: translateX(-5px) rotate(135deg);
          transform: translateX(-5px) rotate(135deg);
}
.slider.s--ready .slider__control {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.icon-link {
  z-index: 100;
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}




.users_menu{
border: 1px solid  black;
height: 440px;

}




.Register_one{
background:#edeeef;
height: 700px;
border-top: 3px solid black;

}
.Register_one h1{

justify-content: center;
align-items: center;
display: flex;

}


@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}
.register_text{
height: 60px;
margin-top: 10px;
display: flex;
font-size: 20px;
}

.footer{
height: 200px;
border: 1px solid red;

}
.form_register{

margin-left: 30%;
display: flex;
justify-content: center;
flex-direction: column;
}


.modal{
  z-index:9999;
  position:absolute;
  top:50%;
  left:50%;
  min-width:250px;
  min-height:100px;
  padding:15px;
  border-radius:10px;
  transform :translate(-50%, -50%);
  background:red;
  }
.bg{
  z-index:9998;
  position:absolute;

 

  background: blue;


}

.list_glava{
margin-top: 50px;
border: 1px solid red;

}




.file{
border: 1px solid red;
z-index: 100000;
opacity: 0;
background: red;
height: 100%;
width: 100%;

}



.img_ava{
height: 350px;


}


#ava{
position: absolute;
max-width: 80%;
min-width: 40%;
z-index: 10;
top: 10px;
left: 0;
max-height:80%;
min-height:60%;




}






.form_ava{
position: relative;
height: 300px;
}










@media screen and (max-width: 900px) {
#ava{
position: absolute;
top:50px;
left: 0;
max-height:250px;
max-width: 250px;
border: 1px solid blue;


}

.form_ava{
height: 300px;
margin-top: 300px;
position: relative;


}

.list_glava{
margin-top: 50px;

}


.profile_user_two{
margin-top: 250px;

height:100px;


}




}

.change-class{
border: 1px solid red;
height: 100px;

}


ul{

list-style: none;

}

.profile_user{
height: 800px;
position: relative;
background: #edeeef;

}

.profile_user_li{
color: black;
height: 30px;
border: 1px solid red;

}


.profile_user_ul{
color: black;
height:200px;

}

.profile_user_two{
position: absolute;
border: 1px solid red;
top: 150px;
height: 650px;
right: 0;

}

#ava::before {
  content:'fdf';
  position: absolute;
  top: 50%;
  left: 30%;
  width: 100%;
  height: 100px;
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  transition: all 2s ease;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media screen and (max-width: 500px) {


.form_ava{
height: 300px;
margin-top: 200px;
position: relative;


}

.file{
z-index: 1000;


}


.profile_user_two{
margin-top: 900px;

}

#ava{
height: 200px;
margin-top: 50px;

}

}

