#AskedQuestions{
	padding-top: 25px;
	padding-bottom: 25px;
}
#AskedQuestions ul>li{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid silver;
	margin-top: 15px;
}
#AskedQuestions ul>li>p{
	margin-bottom: 5px;
	font-weight: 500;
}
#AskedQuestions ul>li>span:last-child{
	color: #960000;
	font-weight: bold;
}
#AskedQuestions .btn{
	background-color: #960000;
	color: white;
}