.info_form_buttons{
	max-width: 260px;
}
.info_form_buttons{
	border: 2px solid rgb(78,78,78);
	background-color: rgb(236,236,236);
	padding: 45px 15px;
}
.info_form_buttons>span{
	background-color: rgb(78,78,78);
	color: #fafafa;
	padding: 5px 10px;
	margin-top: 5px;
	width: 100%;
}
.info_form_buttons>ul>li:first-child{
	color: rgb(155,16,16);
	font-weight: bold;
}
.info_form_buttons>ul>li:not(:first-child){
	padding-left: 15px;
}